.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid-container {
    display: grid;
    height: 540px;
    width: 414px;
    grid-template-columns: 103.5px 103.5px 103.5px 103.5px;
}
.top-bar {
    background-color: #242426;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 6px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 402px;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.red-dot {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 50%;
    height: 12.6px;
    width: 15px;
    padding-bottom: 2.4px;
    background-color: #ED6A5E;
    margin-left: 5px;
    margin-right: 5px;
    color: #8E1B12;
}
.yellow-dot {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 50%;
    height: 12.6px;
    width: 15px;
    padding-bottom: 2.4px;
    background-color: #F5BF4F;
    margin-left: 5px;
    margin-right: 5px;
    color: #A97229;
}
.green-dot {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 50%;
    height: 12.6px; 
    width: 15px;
    background-color: #62C554;
    padding-bottom: 2.4px;
    margin-left: 5px;
    margin-right: 5px;
    color: #2D671B;
}
.display-area {
    background-color: #242426;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 80px;
    font-weight: lighter;
    width: 399px;
    opacity: 82%;
}
.special-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39393C;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.numbers-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5A5A5B;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.zero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-row: 5;
    background-color: #5A5A5B;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    border-bottom-left-radius: 13px;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.operator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2A33C;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.equals-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2A33C;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    border-bottom-right-radius: 13px;
    opacity: 82%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

